
body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #3a241d;
	text-align: center;
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}

.container {
	background-color: #b5e436be;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 500px;
	padding: 10px;
}

.piece-holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.piece {
	position: absolute;
	max-width: 70px;
	max-height: 120px;
	z-index: 2;
}

.Ludo {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}

.Ludo img {
    width: 700px;   
    height: 700px;   
}

#dice-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dice_container img,
.dice-img {
    width: 70px;
    height: 70px;
}

